 /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    <!--[if IE]>
  width:100%;
  height:100%;
  <![endif]-->
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


/* Navigation
  --------------------------------------------- */

  .nav {
    position: fixed;
    top: .5em;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.7);
    padding: .5em;
    border-radius: 5px 5px 5px 5px;
  }
  
  .nav li {list-style-type: none;}
  .nav li a{
    text-decoration: none;
    color: #eeeeee;
  }
  /* demo styles
  --------------------------------------------- */

  body, html {
    /*overflow:hidden*/
    overflow: auto;
  
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .content {
    margin-top:10px;
  }
.content ul {margin-left:100px;
  max-width: 1000px;
  list-style-position: inside;
}

.content li {font-size:55%;
    list-style-type: none;

}

/* About Section
  --------------------------------------------- */
.title {text-align: center;
  clear:both;
  padding:30px 0 10px 0;
}

li.title {font-size:100%;
}
  .sub_title{text-align:center;}


#about {position:relative;
      height: 1050px;

  }
li.about_text {font-size: 75%;}
  

/* Resume Section
  --------------------------------------------- */

#resume {position:relative;
  height:auto;
}
.site{float:left; clear:left; width:75%;font-weight:bold; padding-top:10px;}
.year{float:right; clear:right; width:25%;font-weight:bold;padding-top:10px;}
.position{float:left; clear:left; font-style:italic;}
.description{float:left;clear:left;}
li.description {font-size:45%;}
.tech{float:left; clear:left; width:25%;font-weight:bold;}
li.tech {font-size:65%;}

.tech_desc{float:right; clear:right; width:75%;}
li.tech_desc {font-size:50%;}
.resume {overflow: hidden; padding-bottom:20px;}
.resume li {display:block;}

/* Project Section
  --------------------------------------------- */

#projects {position:relative;
  height:auto;
  }


.project_image{
  float:left; clear:left; width:300px; padding-bottom: 30px;
}
.project_desc{float:left; clear:right; max-width:50%; margin-left: 15px;
}
.project_title{font-weight:bold;}


.projects {overflow:hidden;}
.projects li {display:block;}


/* Contact Section
  --------------------------------------------- */

.icons {text-align: center;
  margin-top:60px;
  margin-bottom: 60px;}

.icons a {color:black;}


  /* style the groups
  --------------------------------------------- */

  #about {
    z-index: 5; /* slide over group 2 */
  }
  #about .parallax__layer--base {
    background: #5CADFF;
  }

 #projects .parallax__layer--base {
    background: #5CADFF;

  }
  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background-image: url("IMG_2920_1024.jpg");/*rgb(123,210,102);*/
    background-size:cover;
    background-repeat: no-repeat;

  }

  #resume {
    z-index: 4; /* slide over group 2 and 4 */
  }

  #resume .parallax__layer--base {
    background: #E0E0D1;
    position:relative;/*****************might need to edit this out*/
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
}
  
  #group4 .parallax__layer--back {
    background-image: url("./IMG_6313.jpg");/*rgb(123,210,102);*/
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;

  }

  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #projects {
    z-index: 4; /* slide over group 4 and 6 */
  }
  #projects .parallax__layer--base {
    background: #5FBF7E;
        position:relative;/*****************might need to edit this out*/


  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */

  }
  #group6 .parallax__layer--back {
    background-image: url("./IMG_5280.jpg");/*rgb(123,210,102);*/
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;


  }

  #contact {
    z-index: 3; /* slide over group 7 */
  }
  #contact .parallax__layer--base {
    background: rgb(255,241,100);

  }


  /* misc
  --------------------------------------------- */

.italic {font-style: italic;}

.img-circle {
  width:150px;
    border-radius: 50%;

}
.about_image{
text-align:center;
}


.img-rounded{
  width:300px;
  border-radius:2%;
  margin-right:10px;

}


  .footer {
    margin: 0px auto;
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
    

  }
  .footer a{
    color:#fff;
    background: rgba(0,0,0,.85);
    padding: .5em;
    border-radius: 5px 5px 5px 5px;
  }





  /* Responsive
  --------------------------------------------- */
@media (max-width: 500px) {
#about li.title{
  font-size:50%;
  padding-top: 60px;
}
.nav {width:90%;
  left:0em;
  right:0em;
  margin:auto;}
.nav li {display:table-cell;
  font-size:75%;
  text-align: center;}
  .nav ul{display:table;
    table-layout: fixed;
      width:100%;
  }
.content ul {margin:10px;}
.resume li{display:block; float:left; clear:left;}
.year{width:100%;}
}



@media (max-width: 800px) {
.project_image{
  margin:0px auto; float:none; clear:both; width:300px; padding-top: 30px;
}
.project_desc{margin:auto; float:none;clear:both; width:90%; max-width: 100%;